@model IEnumerable<Inventory.Models.MakeupProduct>

@{
    ViewData["Title"] = "Makeup Home";
}

<h2>Makeup Dashboard</h2>
<br />
<div>
    <table align="center">
        <thead style="text-align:center;">
            <tr>
                <th colspan="2">
                    Category
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a asp-area="" asp-controller="Makeup" asp-action="EyeIndex">Eye Makeup</a>
                </td>
                <td>
                    Eyeshadow palettes, shadow singles, mascara and eye liner
                </td>
            </tr>
            <tr>
                <td>
                    <a asp-area="" asp-controller="Makeup" asp-action="FaceIndex">Face Makeup</a>
                </td>
                <td>
                    Foundation, concealers, blushes, highlighters, contour
                </td>
            </tr>
            <tr>
                <td>
                    <a asp-area="" asp-controller="Makeup" asp-action="LipIndex">Lip Makeup</a>
                </td>
                <td>
                    Bullet lipsticks, liquid lipsticks, glosses, lip liner, lip primer
                </td>
            </tr>
        </tbody>
    </table>
    </div>